				<div class="animate-switch" ng-switch-when="add"> 
        			
        			<ul class="nav nav-tabs nav-justified">
					  <li><a ng-click="deportes('bb')">BB</a></li>
					  <li><a ng-click="deportes('mlb')">MLB</a></li>
					  <li><a ng-click="deportes('fb')">NHL</a></li>
					  <li><a ng-click="deportes('fb')">MU</a></li>
					  <li><a ng-click="deportes('fb')">SOC</a></li>
					  <li><a ng-click="deportes('fb')">TNT</a></li>
					  <li><a ng-click="deportes('fb')">NHL</a></li>
					  <li><a >BOXEO</a></li>
					</ul>
       			
       				<div ng-switch on="deporte">
       				
	        			<div class="col-md-8 animate-switch" ng-switch-when="bb" ng-init="bb()">
	        					
	        					<div class="box1">
	        						
	        						<div class="row">
	        							<div class="col-md-2">
	        								
	        							</div>
	        						
	        						</div>
	        						
	        					</div>
	        					
	        					<div class="box1">
		        					<div class="row ">
		        						
		        						<div class="col-md-2">
											descripcion
										</div>
		        						<div class="col-md-6">
											<input type="text" size="50">
										</div>
										
		        					</div>
		        				</div>
		        				
		        				<div class="box1">
			        				<div class="row">
		        						
		        						<div class="col-md-1">
											#
										</div>
		        						<div class="col-md-1">
											<input type="text" size="3">
										</div>
										<div class="col-md-2">
											Visitor Team
										</div>
										<div class="col-md-4">
											<input type="text" size="40">
										</div>
										
		        					</div>
		        					
		        					<div class="row">
		        						
		        						<div class="col-md-1">
											#
										</div>
		        						<div class="col-md-1">
											<input type="text" size="3">
										</div>
										<div class="col-md-2">
											Home Team
										</div>
										<div class="col-md-4">
											<input type="text" size="40">
										</div>
										
		        					</div>
		        				</div>
	        					
	        					<div class="box1">
		        					<div class="row ">
								
										<div class="col-md-1 ">
										
										</div>
										<div class="col-md-1 ">
											Spread
										</div>
										
										<div class="col-md-1 ">
											0dds
										</div>
										
										<div class="col-md-1 ">
										
										</div>
										<div class="col-md-1 ">
											Total
										</div>
										
										<div class="col-md-1 ">
											0dd
										</div>
										
										<div class="col-md-1 ">
										
										</div>
										<div class="col-md-1 ">
											$-line
										</div>
										
									
									</div>
									
									<div class="row ">
								
										<div class="col-md-1 ">
											Visitor
										</div>
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											Over
										</div>
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											Visitor
										</div>
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										
									</div>
									
									<div class="row ">
							
										<div class="col-md-1">
											Home
										</div>
										<div class="col-md-1">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											Under
										</div>
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											Home
										</div>
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
									</div>
	        					
	        					</div>
	        					
	        					<div class="row box_button">
	        						
	        						<div class="col-md-4">
	        							<button class="btn btn-primary btn-lg">OK</button>
	        						</div>
	        						
	        						<div class="col-md-4">
	        							<button class="btn btn-primary btn-lg">Cancel</button>
	        						</div>
	        						
	        					</div>
	        			
	        			</div>
	        			
	        			<div class="animate-switch" ng-switch-when="mlb">
	        				
	        			</div>
	        			
	        			<div class="animate-switch" ng-switch-when="fb">
	        				Futball
	        			</div>
	        			
        			</div>
       			
        		</div>