<div class="animate-switch" ng-switch-when="eventos">
			    	
			    	<ul class="nav nav-tabs nav-justified">
						  <li><a ng-click="evento('nba')">Baloncesto</a></li>
						  <li><a ng-click="evento('')">Futbol</a></li>
						  <li><a ng-click="evento('')">Futbol Americano</a></li>  
						  <li><a >Boxeo</a></li>
						</ul>	
			    	
			    	<div ng-switch on = "evento">
			    	
			    		<div ng-switch-when = "nba">
			    		
			    				<div class="row box2">
			    					
			    					<div class="col-md-1">
						    			fecha
						    		</div>
			    					<div class="col-md-1">
						    			#
						    		</div>
			    					<div class="col-md-2">
						    			equipos
						    		</div>
			    					
			    					<div class="col-md-1">
						    			over/under
						    		</div>
			    					
			    					<div class="col-md-1">
						    			spread
						    		</div>
			    					
			    					
			    				</div>
			    		
			    				<div class="row box2">
				    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				mar-20
						    			</div>
						    			<div class="row">
						    				20:23
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				3345
						    			</div>
						    			<div class="row">
						    				3346
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-2">
						    			<div class="row">
						    				chicago bulls
						    			</div>
						    			<div class="row">
						    				miami heat
						    			</div>
						    		</div>
							
									<div class="col-md-1">
						    			<div class="row">
						    				o100
						    			</div>
						    			<div class="row">
						    				u100
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				-100
						    			</div>
						    			<div class="row">
						    				+100
						    			</div>
						    		</div>
						    	</div>
						    	 	
						    	<div class="row box2">
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				mar-20
						    			</div>
						    			<div class="row">
						    				20:23
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				3345
						    			</div>
						    			<div class="row">
						    				3346
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-2">
						    			<div class="row">
						    				chicago bulls
						    			</div>
						    			<div class="row">
						    				miami heat
						    			</div>
						    		</div>
							
									<div class="col-md-1">
						    			<div class="row">
						    				o100
						    			</div>
						    			<div class="row">
						    				u100
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				-100
						    			</div>
						    			<div class="row">
						    				+100
						    			</div>
						    		</div>
						    	</div>
						    	
						    	<div class="row box2">
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				mar-20
						    			</div>
						    			<div class="row">
						    				20:23
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				3345
						    			</div>
						    			<div class="row">
						    				3346
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-2">
						    			<div class="row">
						    				chicago bulls
						    			</div>
						    			<div class="row">
						    				miami heat
						    			</div>
						    		</div>
							
									<div class="col-md-1">
						    			<div class="row">
						    				o100
						    			</div>
						    			<div class="row">
						    				u100
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				-100
						    			</div>
						    			<div class="row">
						    				+100
						    			</div>
						    		</div>
						    	</div>
						    	
						    	<div class="row box2">
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				mar-20
						    			</div>
						    			<div class="row">
						    				20:23
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				3345
						    			</div>
						    			<div class="row">
						    				3346
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-2">
						    			<div class="row">
						    				chicago bulls
						    			</div>
						    			<div class="row">
						    				miami heat
						    			</div>
						    		</div>
							
									<div class="col-md-1">
						    			<div class="row">
						    				o100
						    			</div>
						    			<div class="row">
						    				u100
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				-100
						    			</div>
						    			<div class="row">
						    				+100
						    			</div>
						    		</div>
						    	</div>
						    	
						    	<div class="row box2">
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				mar-20
						    			</div>
						    			<div class="row">
						    				20:23
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				3345
						    			</div>
						    			<div class="row">
						    				3346
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-2">
						    			<div class="row">
						    				chicago bulls
						    			</div>
						    			<div class="row">
						    				miami heat
						    			</div>
						    		</div>
							
									<div class="col-md-1">
						    			<div class="row">
						    				o100
						    			</div>
						    			<div class="row">
						    				u100
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				-100
						    			</div>
						    			<div class="row">
						    				+100
						    			</div>
						    		</div>
						    	</div>
			    			
			    		</div>
			    		
			    	</div>
			    	
			    </div>