<div class="animate-switch" ng-switch-when="ligas">
			    	
			    	<ul class="nav nav-tabs nav-justified">
					  <li><a ng-click="ligas('crear')">crear</a></li>
					  <li><a ng-click="ligas('calendarios')">calendarios</a></li>
					  <li><a ng-click="ligas('equipos')">equipos</a></li>
					  <li><a ng-click="ligas('torneos')">torneos</a></li>
				      <li><a ng-click="ligas('deportes')">deportes</a></li>
					</ul>
					
					
					<div ng-switch on = "liga" >
						<div class="animate-switch" ng-switch-when = "crear">
							<h1>CREAR</h1>
						</div>
						<div class="animate-switch" ng-switch-when = "calendarios">
							<h1>CALENDARIOS</h1>
						</div>
						<div class="animate-switch" ng-switch-when = "equipos" ng-controller = "equipos">
							
							<div class="row">
								<div class="col-md-4">
									<h3>{{titulo}}</h3>
								</div>
							</div>
							<div class="row">

								<div class="col-md-3">
									<label>equipo</label>
									<input type="text" placeholder="nombre del equipo">
								</div>
								
								<div class="col-md-3">
									<label>deporte</label>
									<select>
										<option>FUTBOL</option>
										<option>BEISBOL</option>
										<option>BALONCESTO</option>
									</select>
								</div>
								
								<div class="col-md-3">
									<label>pais</label>
									<select>
										<option>FRANCIA</option>
										<option>BRASIL</option>
										<option>ESPAÑA</option>
									</select>
								</div>
								
								<div class="col-md-3">
									<button> crear</button>
								</div>

							</div>
							
							
						</div>
						<div class="animate-switch" ng-switch-when = "torneos" ng-controller = "torneos">
							<div class="row">
								<div class="col-md-3">
									<h3>{{titulo}}</h3>
								</div>
							</div>
							<div class="row">
								<div class="col-md-1">
									<label>torneo</label>
								</div>
								<div class="col-md-2">
									<input type="text" placeholder="torneo">
								</div>
								<div class="col-md-1">
									<label>temporada</label>
								</div>
								<div class="col-md-2">
									<input type="text" placeholder="temporada">
								</div>
								<div class="col-md-1">
									<label>deporte</label>
								</div>
								<div class="col-md-2">
									<input type="text" placeholder="deporte">
								</div>
								<div class="col-md-1">
									<button>crear</button>
								</div>
							</div>	
							
						</div>
						<div class="animate-switch" ng-switch-when = "deportes" ng-controller = "ligas">
							<h3>{{titulo}}</h3>
							
							<div class = "row">
								<div class = "col-md-1">
									<label>deporte</label>
								</div>
								
								<div class = "col-md-3">
									<input type="text" ng-model="deporte" placeholder="nombre del deporte">
								</div>
								<div class = "col-md-1">
									<button ng-click = "crearDeporte(deporte)">crear</button>
								</div>
							</div>
							
							<div class = "row">
								<div class = "col-md-2">
									<label>Lista de deportes</label>
								</div>
							</div>
							
							<div class="row">
								<div class="col-md-8">
									<pre>{{response | json}}</pre>
								</div>
							</div>
							
						</div>
					</div>					

			    </div>