
  <div ng-controller="dashCtrl">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        
        <div class="navbar-header">
          <a class="navbar-brand" href="">Wager Dynamic</a>
        
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">salir</a></li>
          </ul>  
        </div>
        
      </div>
    </nav>

    <div class="container-fluid">
      
      <div class="row">
      	
      	<!-- SIDEBAR -->
        <div class="col-sm-3 col-md-2 sidebar">
        
          <ul class="nav nav-sidebar">
            <li><a ng-click="cambiar('add')">Agregar juego</a></li>
            <li><a ng-click="cambiar('eventos')">Eventos</a></li>
            <li><a ng-click="cambiar('ligas')">Ligas</a></li>
            <li><a ng-click="cambiar('cuentas')">Cuentas</a></li>
          </ul>
        
        </div>
        
        <!-- COLUMNA DE LA DERECHA -->
        <div ng-controller="dashCtrl" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        
        	<div ng-switch on="switchh">
        		
        		<div class="animate-switch" ng-switch-when="add"> 
        			
        			<ul class="nav nav-tabs nav-justified">
					  <li><a ng-click="deportes('bb')">BB</a></li>
					  <li><a ng-click="deportes('mlb')">MLB</a></li>
					  <li><a ng-click="deportes('fb')">NHL</a></li>
					  <li><a ng-click="deportes('fb')">MU</a></li>
					  <li><a ng-click="deportes('fb')">SOC</a></li>
					  <li><a ng-click="deportes('fb')">TNT</a></li>
					  <li><a ng-click="deportes('fb')">NHL</a></li>
					  <li><a >BOXEO</a></li>
					</ul>
       			
       				<div ng-switch on="deporte">
       				
	        			<div class="col-md-8 animate-switch" ng-switch-when="bb" ng-init="bb()">
	        					
	        					<div class="box1">
	        						
	        						<div class="row">
	        							<div class="col-md-2">
	        								
	        							</div>
	        						
	        						</div>
	        						
	        					</div>
	        					
	        					<div class="box1">
		        					<div class="row ">
		        						
		        						<div class="col-md-2">
											descripcion
										</div>
		        						<div class="col-md-6">
											<input type="text" size="50">
										</div>
										
		        					</div>
		        				</div>
		        				
		        				<div class="box1">
			        				<div class="row">
		        						
		        						<div class="col-md-1">
											#
										</div>
		        						<div class="col-md-1">
											<input type="text" size="3">
										</div>
										<div class="col-md-2">
											Visitor Team
										</div>
										<div class="col-md-4">
											<input type="text" size="40">
										</div>
										
		        					</div>
		        					
		        					<div class="row">
		        						
		        						<div class="col-md-1">
											#
										</div>
		        						<div class="col-md-1">
											<input type="text" size="3">
										</div>
										<div class="col-md-2">
											Home Team
										</div>
										<div class="col-md-4">
											<input type="text" size="40">
										</div>
										
		        					</div>
		        				</div>
	        					
	        					<div class="box1">
		        					<div class="row ">
								
										<div class="col-md-1 ">
										
										</div>
										<div class="col-md-1 ">
											Spread
										</div>
										
										<div class="col-md-1 ">
											0dds
										</div>
										
										<div class="col-md-1 ">
										
										</div>
										<div class="col-md-1 ">
											Total
										</div>
										
										<div class="col-md-1 ">
											0dd
										</div>
										
										<div class="col-md-1 ">
										
										</div>
										<div class="col-md-1 ">
											$-line
										</div>
										
									
									</div>
									
									<div class="row ">
								
										<div class="col-md-1 ">
											Visitor
										</div>
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											Over
										</div>
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											Visitor
										</div>
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										
									</div>
									
									<div class="row ">
							
										<div class="col-md-1">
											Home
										</div>
										<div class="col-md-1">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											Under
										</div>
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
										<div class="col-md-1 ">
											Home
										</div>
										<div class="col-md-1 ">
											<input type="text" size="3">
										</div>
										
									</div>
	        					
	        					</div>
	        					
	        					<div class="row box_button">
	        						
	        						<div class="col-md-4">
	        							<button class="btn btn-primary btn-lg">OK</button>
	        						</div>
	        						
	        						<div class="col-md-4">
	        							<button class="btn btn-primary btn-lg">Cancel</button>
	        						</div>
	        						
	        					</div>
	        			
	        			</div>
	        			
	        			<div class="animate-switch" ng-switch-when="mlb">
	        				
	        			</div>
	        			
	        			<div class="animate-switch" ng-switch-when="fb">
	        				Futball
	        			</div>
	        			
        			</div>
       			
        		</div>
        		
			    <div class="animate-switch" ng-switch-when="eventos">
			    	
			    	<ul class="nav nav-tabs nav-justified">
						  <li><a ng-click="evento('nba')">Baloncesto</a></li>
						  <li><a ng-click="evento('')">Futbol</a></li>
						  <li><a ng-click="evento('')">Futbol Americano</a></li>  
						  <li><a >Boxeo</a></li>
						</ul>	
			    	
			    	<div ng-switch on = "evento">
			    	
			    		<div ng-switch-when = "nba">
			    		
			    				<div class="row box2">
			    					
			    					<div class="col-md-1">
						    			fecha
						    		</div>
			    					<div class="col-md-1">
						    			#
						    		</div>
			    					<div class="col-md-2">
						    			equipos
						    		</div>
			    					
			    					<div class="col-md-1">
						    			over/under
						    		</div>
			    					
			    					<div class="col-md-1">
						    			spread
						    		</div>
			    					
			    					
			    				</div>
			    		
			    				<div class="row box2">
				    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				mar-20
						    			</div>
						    			<div class="row">
						    				20:23
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				3345
						    			</div>
						    			<div class="row">
						    				3346
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-2">
						    			<div class="row">
						    				chicago bulls
						    			</div>
						    			<div class="row">
						    				miami heat
						    			</div>
						    		</div>
							
									<div class="col-md-1">
						    			<div class="row">
						    				o100
						    			</div>
						    			<div class="row">
						    				u100
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				-100
						    			</div>
						    			<div class="row">
						    				+100
						    			</div>
						    		</div>
						    	</div>
						    	 	
						    	<div class="row box2">
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				mar-20
						    			</div>
						    			<div class="row">
						    				20:23
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				3345
						    			</div>
						    			<div class="row">
						    				3346
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-2">
						    			<div class="row">
						    				chicago bulls
						    			</div>
						    			<div class="row">
						    				miami heat
						    			</div>
						    		</div>
							
									<div class="col-md-1">
						    			<div class="row">
						    				o100
						    			</div>
						    			<div class="row">
						    				u100
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				-100
						    			</div>
						    			<div class="row">
						    				+100
						    			</div>
						    		</div>
						    	</div>
						    	
						    	<div class="row box2">
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				mar-20
						    			</div>
						    			<div class="row">
						    				20:23
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				3345
						    			</div>
						    			<div class="row">
						    				3346
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-2">
						    			<div class="row">
						    				chicago bulls
						    			</div>
						    			<div class="row">
						    				miami heat
						    			</div>
						    		</div>
							
									<div class="col-md-1">
						    			<div class="row">
						    				o100
						    			</div>
						    			<div class="row">
						    				u100
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				-100
						    			</div>
						    			<div class="row">
						    				+100
						    			</div>
						    		</div>
						    	</div>
						    	
						    	<div class="row box2">
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				mar-20
						    			</div>
						    			<div class="row">
						    				20:23
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				3345
						    			</div>
						    			<div class="row">
						    				3346
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-2">
						    			<div class="row">
						    				chicago bulls
						    			</div>
						    			<div class="row">
						    				miami heat
						    			</div>
						    		</div>
							
									<div class="col-md-1">
						    			<div class="row">
						    				o100
						    			</div>
						    			<div class="row">
						    				u100
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				-100
						    			</div>
						    			<div class="row">
						    				+100
						    			</div>
						    		</div>
						    	</div>
						    	
						    	<div class="row box2">
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				mar-20
						    			</div>
						    			<div class="row">
						    				20:23
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				3345
						    			</div>
						    			<div class="row">
						    				3346
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-2">
						    			<div class="row">
						    				chicago bulls
						    			</div>
						    			<div class="row">
						    				miami heat
						    			</div>
						    		</div>
							
									<div class="col-md-1">
						    			<div class="row">
						    				o100
						    			</div>
						    			<div class="row">
						    				u100
						    			</div>
						    		</div>
						    		
						    		<div class="col-md-1">
						    			<div class="row">
						    				-100
						    			</div>
						    			<div class="row">
						    				+100
						    			</div>
						    		</div>
						    	</div>
			    			
			    		</div>
			    		
			    	</div>
			    	
			    	
			    </div>
			    
			    <div class="animate-switch" ng-switch-when="ligas">
			    	
			    	<ul class="nav nav-tabs nav-justified">
					  <li><a ng-click="deportes('bb')">crear</a></li>
					  <li><a ng-click="deportes('bb')">lista</a></li>
					  <li><a ng-click="deportes('mlb')">calendarios</a></li>
					</ul>

			    </div>
		
				<div class="animate-switch" ng-switch-when="cuentas">
			    	
			    	<ul class="nav nav-tabs nav-justified">
					  <li><a ng-click="deportes('bb')">crear</a></li>
					  <li><a ng-click="deportes('bb')">administradores</a></li>
					  <li><a ng-click="deportes('mlb')">agentes</a></li>
					  <li><a ng-click="deportes('mlb')">jugadores</a></li>
					</ul>	
		
			    </div>
			    
			   
        	</div>
        
        </div>
      
      </div>
   

    </div>


  </div>
