
  <div ng-controller="dashCtrl">

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        
        <div class="navbar-header">
          <a class="navbar-brand" href="">Wager Dynamic</a>
        
        </div>
        
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">salir</a></li>
          </ul>  
        </div>
        
      </div>
    </nav>

    <div class="container-fluid">
      
      <div class="row">
      	
      	<!-- SIDEBAR -->
        <div class="col-sm-3 col-md-2 sidebar">
        
          <ul class="nav nav-sidebar">
            <li><a ng-click="cambiar('add')">Agregar juego</a></li>
            <li><a ng-click="cambiar('eventos')">Eventos</a></li>
            <li><a ng-click="cambiar('ligas')">Ligas</a></li>
            <li><a ng-click="cambiar('cuentas')">Cuentas</a></li>
          </ul>
        
        </div>
        
        <!-- COLUMNA DE LA DERECHA -->
        <div ng-controller="dashCtrl" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
        
        	<div ng-switch on="switchh">
        		
        		<!-- CARGAR EVENTOS -->
        		<div ng-include="'modulo/dashboard/parciales/add.html'" scope="" onload="">
        			
        		</div>
        		
			    <div ng-include="'modulo/dashboard/parciales/eventos.html'" scope="" onload="">
        			
        		</div>
			    
			    <div ng-include="'modulo/dashboard/parciales/ligas.html'" scope="" onload="">
        			
        		</div>
		
				<div ng-include="'modulo/dashboard/parciales/cuentas.html'" scope="" onload="">
        			
        		</div>	
				   
        	</div>
        
        </div>
      
      </div>
   

    </div>


  </div>
