<div class = "caja_login">
		<div class="row center-xs">
			<div class="col-xs-6">
				<h1>WAGER DYNAMIC</h1>
			</div>
		</div>

		<div class="row center-xs">
			
			<div class="col-xs-3">
				
				<input ng-model="username" class="form-control" type="text" placeholder="username"> 
				
				<input ng-model="password" class="form-control" type="password" placeholder="password">
				
				<button ng-click="login(username, password)" type="button" class="btn btn-primary btn-lg btn-block">entrar</button>
				
			</div>
		
		</div>
</div>


