<div class = "caja_login ">

		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<h1 align="center">WAGER DYNAMIC</h1>
			</div>
		</div>
		
		<div class="row" ng-show="errorauth">
		
			<div class="col-md-4 col-md-offset-4">
				<p class="bg-danger">Usuario o clave incorrectos</p>
			</div>
			
		</div>
	
		<div class="row">
			
			<div class="col-md-4 col-md-offset-4">
				
				<input ng-model="username" class="form-control" type="text" placeholder="username"> 
				
				<input ng-model="password" class="form-control" type="password" placeholder="password">
				
				<button ng-click="login(username, password)" type="button" class="btn btn-primary btn-lg btn-block">entrar</button>
				
			</div>
		</div>

</div>